---
import AnimatedGradientBackground from "./animatedgradientbackground";


---

<AnimatedGradientBackground>
	<div class="flex w-full h-2/3 justify-center">
		<h1 class="font-extrabold text-7xl">CentenV&apos;s Wiki</h1>
	</div>
</AnimatedGradientBackground>

<!-- <div class="flex h-full overflow-hidden justify-center items-center">
	<div class="flex w-full h-2/3 justify-center">
		<h1 class="font-extrabold text-7xl">CentenV&apos;s Wiki</h1>
	</div>
</div> -->
