---

---

<div class="flex h-full overflow-hidden justify-center items-center">
	<div class="flex w-full h-2/3 justify-center">
		<span class="font-extrabold text-7xl">CentenV&apos;s Wiki</span>
	</div>
</div>
