---
import Intermediate from "@layout/Intermediate.astro";
import Wiki from "@layout/Wiki.astro";
import type { ImageMetadata } from "astro";
import type { BackgroundImage } from "src/types";

interface Props {
    title: string;
    url: string;
    pages: Record<string, any>;
    banner: ImageMetadata;
    bannerOptions?: { video?: boolean, offset?: string }
}
const { title, url, pages, banner, bannerOptions } = Astro.props;
---

<Wiki>
    <Intermediate title={title} backgroundImage={{ url: banner.src, video: (bannerOptions! && bannerOptions!.video!), offset: bannerOptions?.offset }}>
        {
            Object.entries(pages).map(([pagePath, data]) => {
                const destinationUrl =
                    url + pagePath.substring(1, pagePath.length - 4);
                return <a href={destinationUrl}>{data.frontmatter.title}</a>;
            })
        }
    </Intermediate>
</Wiki>
