---
// Skeleton for pages that display markdown content
import Wiki from "@layout/Wiki.astro";
---

<Wiki>
    <div class="w-full h-full px-12 pt-8 pb-12 overflow-scroll">
        <slot />
    </div>
</Wiki>
