---
import TopicNavigationBar from "@components/TopicNavigationBar.astro";
import "@style/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>CentenV's Wiki</title>
  </head>
  <body>
    <div
      id="page_contents"
      class="antialiased overflow-hidden bg-wiki-background-color h-screen w-screen"
    >
      {/* Navbar */}
      <TopicNavigationBar />
      {/* Content */}
      <main
        class="pt-8 px-8 sm:px-10 lg:pl-72 xl:px-72 2xl:px-96 bg-wiki-foreground-color rounded-wiki border-wiki border-wiki-border-color w-full h-full overflow-y-scroll"
      >
        <slot />
      </main>
      <!-- <div class="hidden lg:block col-start-3 col-span-1">wadsdadsd</div> -->
    </div>
  </body>
</html>
